/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 * :root {
 *  --gutter-width: 1rem;
 *  --outer-margin: 2rem;
 *  --gutter-compensation: calc( var( --gutter-width / 2 ) * -1 );
 *  --half-gutter-width: calc( var( --gutter-width / 2 ) );
 *  --screen-xs-min: 30em;
 *  --screen-sm-min: 48em;
 *  --screen-md-min: 62em;
 *  --screen-lg-min: 75em;
 *  --container-sm: calc( 45rem + var( --gutter-width ) );
 *  --container-md: calc( 60rem + var( --gutter-width ) );
 *  --container-lg: calc( 70rem + var( --gutter-width ) );
 * }
 *
*/

.a-Grid-container-fluid {
  margin-right: auto;
  margin-left: auto;
/*  padding-right: 2rem;
  padding-left: 2rem;*/
}

.a-Grid-fullHeight {
  min-height: 100%;
}

.a-Grid-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
/*  margin-right: -0.5rem;
  margin-left: -0.5rem;*/
}

.a-Grid-row.a-Grid-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: row-reverse;
  -ms-flex-wrap: row-reverse;
  flex-wrap: row-reverse;
}

.a-Grid-col.a-Grid-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: column-reverse;
  -ms-flex-wrap: column-reverse;
  flex-wrap: column-reverse;
}

.a-Grid-col-xs,
.a-Grid-col-xs-1,
.a-Grid-col-xs-2,
.a-Grid-col-xs-3,
.a-Grid-col-xs-4,
.a-Grid-col-xs-5,
.a-Grid-col-xs-6,
.a-Grid-col-xs-7,
.a-Grid-col-xs-8,
.a-Grid-col-xs-9,
.a-Grid-col-xs-10,
.a-Grid-col-xs-11,
.a-Grid-col-xs-12,
.a-Grid-col-xs-offset-1,
.a-Grid-col-xs-offset-2,
.a-Grid-col-xs-offset-3,
.a-Grid-col-xs-offset-4,
.a-Grid-col-xs-offset-5,
.a-Grid-col-xs-offset-6,
.a-Grid-col-xs-offset-7,
.a-Grid-col-xs-offset-8,
.a-Grid-col-xs-offset-9,
.a-Grid-col-xs-offset-10,
.a-Grid-col-xs-offset-11,
.a-Grid-col-xs-offset-12 {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0rem;
  padding-left: 0rem;
}

.a-Grid-col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.a-Grid-col-xs-1 {
  -webkit-flex-basis: 8.333333333%;
  -ms-flex-preferred-size: 8.333333333%;
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

.a-Grid-col-xs-2 {
  -webkit-flex-basis: 16.666666667%;
  -ms-flex-preferred-size: 16.666666667%;
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

.a-Grid-col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.a-Grid-col-xs-4 {
  -webkit-flex-basis: 33.333333333%;
  -ms-flex-preferred-size: 33.333333333%;
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.a-Grid-col-xs-5 {
  -webkit-flex-basis: 41.666666667%;
  -ms-flex-preferred-size: 41.666666667%;
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

.a-Grid-col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.a-Grid-col-xs-7 {
  -webkit-flex-basis: 58.333333333%;
  -ms-flex-preferred-size: 58.333333333%;
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

.a-Grid-col-xs-8 {
  -webkit-flex-basis: 66.666666667%;
  -ms-flex-preferred-size: 66.666666667%;
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

.a-Grid-col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.a-Grid-col-xs-10 {
  -webkit-flex-basis: 83.333333333%;
  -ms-flex-preferred-size: 83.333333333%;
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

.a-Grid-col-xs-11 {
  -webkit-flex-basis: 91.666666667%;
  -ms-flex-preferred-size: 91.666666667%;
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

.a-Grid-col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.a-Grid-col-xs-offset-1 {
  margin-left: 8.333333333%;
}

.a-Grid-col-xs-offset-2 {
  margin-left: 16.666666667%;
}

.a-Grid-col-xs-offset-3 {
  margin-left: 25%;
}

.a-Grid-col-xs-offset-4 {
  margin-left: 33.333333333%;
}

.a-Grid-col-xs-offset-5 {
  margin-left: 41.666666667%;
}

.a-Grid-col-xs-offset-6 {
  margin-left: 50%;
}

.a-Grid-col-xs-offset-7 {
  margin-left: 58.333333333%;
}

.a-Grid-col-xs-offset-8 {
  margin-left: 66.666666667%;
}

.a-Grid-col-xs-offset-9 {
  margin-left: 75%;
}

.a-Grid-col-xs-offset-10 {
  margin-left: 83.333333333%;
}

.a-Grid-col-xs-offset-11 {
  margin-left: 91.666666667%;
}

.a-Grid-start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.a-Grid-contentX-xs-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
/*  text-align: center;*/
}

.a-Grid-end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.a-Grid-top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.a-Grid-contentY-xs-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-Grid-bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.a-Grid-around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.a-Grid-between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.a-Grid-first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.a-Grid-last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and ( min-width: var( --screen-sm-min, 48em ) ) {
  .a-Grid-container {
    width: 46rem;
  }

  .a-Grid-col-sm,
  .a-Grid-col-sm-1,
  .a-Grid-col-sm-2,
  .a-Grid-col-sm-3,
  .a-Grid-col-sm-4,
  .a-Grid-col-sm-5,
  .a-Grid-col-sm-6,
  .a-Grid-col-sm-7,
  .a-Grid-col-sm-8,
  .a-Grid-col-sm-9,
  .a-Grid-col-sm-10,
  .a-Grid-col-sm-11,
  .a-Grid-col-sm-12,
  .a-Grid-col-sm-offset-1,
  .a-Grid-col-sm-offset-2,
  .a-Grid-col-sm-offset-3,
  .a-Grid-col-sm-offset-4,
  .a-Grid-col-sm-offset-5,
  .a-Grid-col-sm-offset-6,
  .a-Grid-col-sm-offset-7,
  .a-Grid-col-sm-offset-8,
  .a-Grid-col-sm-offset-9,
  .a-Grid-col-sm-offset-10,
  .a-Grid-col-sm-offset-11,
  .a-Grid-col-sm-offset-12 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .a-Grid-col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .a-Grid-col-sm-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .a-Grid-col-sm-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .a-Grid-col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .a-Grid-col-sm-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .a-Grid-col-sm-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .a-Grid-col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .a-Grid-col-sm-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .a-Grid-col-sm-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .a-Grid-col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .a-Grid-col-sm-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .a-Grid-col-sm-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .a-Grid-col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .a-Grid-col-sm-offset-1 {
    margin-left: 8.333333333%;
  }

  .a-Grid-col-sm-offset-2 {
    margin-left: 16.666666667%;
  }

  .a-Grid-col-sm-offset-3 {
    margin-left: 25%;
  }

  .a-Grid-col-sm-offset-4 {
    margin-left: 33.333333333%;
  }

  .a-Grid-col-sm-offset-5 {
    margin-left: 41.666666667%;
  }

  .a-Grid-col-sm-offset-6 {
    margin-left: 50%;
  }

  .a-Grid-col-sm-offset-7 {
    margin-left: 58.333333333%;
  }

  .a-Grid-col-sm-offset-8 {
    margin-left: 66.666666667%;
  }

  .a-Grid-col-sm-offset-9 {
    margin-left: 75%;
  }

  .a-Grid-col-sm-offset-10 {
    margin-left: 83.333333333%;
  }

  .a-Grid-col-sm-offset-11 {
    margin-left: 91.666666667%;
  }

  .a-Grid-start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .a-Grid-center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .a-Grid-end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .a-Grid-top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .a-Grid-middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .a-Grid-bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .a-Grid-around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .a-Grid-between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .a-Grid-first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .a-Grid-last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and ( min-width: var( --screen-md-min, 62em ) ) {
  .a-Grid-container {
    width: 61rem;
  }

  .a-Grid-col-md,
  .a-Grid-col-md-1,
  .a-Grid-col-md-2,
  .a-Grid-col-md-3,
  .a-Grid-col-md-4,
  .a-Grid-col-md-5,
  .a-Grid-col-md-6,
  .a-Grid-col-md-7,
  .a-Grid-col-md-8,
  .a-Grid-col-md-9,
  .a-Grid-col-md-10,
  .a-Grid-col-md-11,
  .a-Grid-col-md-12,
  .a-Grid-col-md-offset-1,
  .a-Grid-col-md-offset-2,
  .a-Grid-col-md-offset-3,
  .a-Grid-col-md-offset-4,
  .a-Grid-col-md-offset-5,
  .a-Grid-col-md-offset-6,
  .a-Grid-col-md-offset-7,
  .a-Grid-col-md-offset-8,
  .a-Grid-col-md-offset-9,
  .a-Grid-col-md-offset-10,
  .a-Grid-col-md-offset-11,
  .a-Grid-col-md-offset-12 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .a-Grid-col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .a-Grid-col-md-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .a-Grid-col-md-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .a-Grid-col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .a-Grid-col-md-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .a-Grid-col-md-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .a-Grid-col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .a-Grid-col-md-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .a-Grid-col-md-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .a-Grid-col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .a-Grid-col-md-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .a-Grid-col-md-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .a-Grid-col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .a-Grid-col-md-offset-1 {
    margin-left: 8.333333333%;
  }

  .a-Grid-col-md-offset-2 {
    margin-left: 16.666666667%;
  }

  .a-Grid-col-md-offset-3 {
    margin-left: 25%;
  }

  .a-Grid-col-md-offset-4 {
    margin-left: 33.333333333%;
  }

  .a-Grid-col-md-offset-5 {
    margin-left: 41.666666667%;
  }

  .a-Grid-col-md-offset-6 {
    margin-left: 50%;
  }

  .a-Grid-col-md-offset-7 {
    margin-left: 58.333333333%;
  }

  .a-Grid-col-md-offset-8 {
    margin-left: 66.666666667%;
  }

  .a-Grid-col-md-offset-9 {
    margin-left: 75%;
  }

  .a-Grid-col-md-offset-10 {
    margin-left: 83.333333333%;
  }

  .a-Grid-col-md-offset-11 {
    margin-left: 91.666666667%;
  }

  .a-Grid-start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .a-Grid-center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .a-Grid-end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .a-Grid-top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .a-Grid-middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .a-Grid-bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .a-Grid-around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .a-Grid-between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .a-Grid-first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .a-Grid-last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and ( min-width: var( --screen-lg-min, 75em ) ) {
  .a-Grid-container {
    width: 71rem;
  }

  .a-Grid-col-lg,
  .a-Grid-col-lg-1,
  .a-Grid-col-lg-2,
  .a-Grid-col-lg-3,
  .a-Grid-col-lg-4,
  .a-Grid-col-lg-5,
  .a-Grid-col-lg-6,
  .a-Grid-col-lg-7,
  .a-Grid-col-lg-8,
  .a-Grid-col-lg-9,
  .a-Grid-col-lg-10,
  .a-Grid-col-lg-11,
  .a-Grid-col-lg-12,
  .a-Grid-col-lg-offset-1,
  .a-Grid-col-lg-offset-2,
  .a-Grid-col-lg-offset-3,
  .a-Grid-col-lg-offset-4,
  .a-Grid-col-lg-offset-5,
  .a-Grid-col-lg-offset-6,
  .a-Grid-col-lg-offset-7,
  .a-Grid-col-lg-offset-8,
  .a-Grid-col-lg-offset-9,
  .a-Grid-col-lg-offset-10,
  .a-Grid-col-lg-offset-11,
  .a-Grid-col-lg-offset-12 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .a-Grid-col-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .a-Grid-col-lg-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .a-Grid-col-lg-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .a-Grid-col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .a-Grid-col-lg-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .a-Grid-col-lg-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .a-Grid-col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .a-Grid-col-lg-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .a-Grid-col-lg-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .a-Grid-col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .a-Grid-col-lg-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .a-Grid-col-lg-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .a-Grid-col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .a-Grid-col-lg-offset-1 {
    margin-left: 8.333333333%;
  }

  .a-Grid-col-lg-offset-2 {
    margin-left: 16.666666667%;
  }

  .a-Grid-col-lg-offset-3 {
    margin-left: 25%;
  }

  .a-Grid-col-lg-offset-4 {
    margin-left: 33.333333333%;
  }

  .a-Grid-col-lg-offset-5 {
    margin-left: 41.666666667%;
  }

  .a-Grid-col-lg-offset-6 {
    margin-left: 50%;
  }

  .a-Grid-col-lg-offset-7 {
    margin-left: 58.333333333%;
  }

  .a-Grid-col-lg-offset-8 {
    margin-left: 66.666666667%;
  }

  .a-Grid-col-lg-offset-9 {
    margin-left: 75%;
  }

  .a-Grid-col-lg-offset-10 {
    margin-left: 83.333333333%;
  }

  .a-Grid-col-lg-offset-11 {
    margin-left: 91.666666667%;
  }

  .a-Grid-start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .a-Grid-center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .a-Grid-end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .a-Grid-top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .a-Grid-middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .a-Grid-bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .a-Grid-around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .a-Grid-between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .a-Grid-first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .a-Grid-last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.u-textCenter {
  text-align: center;
}